name: flutter_easy_example
description: Demonstrates how to use the flutter_easy plugin.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: '>=2.18.2 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter

  flutter_easy:
    # When depending on this package from a real application you should use:
    #   flutter_easy: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version.
    path: ../

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8

  # ===================消除警告⚠️===================
  intl:
  get:
  dio:

  # ===============================================================================
  # 名称：A simple zoomable image
  # 来源：https://pub.dev/packages/photo_view
  # GitHub：https://github.com/fireslime/photo_view
  # 说明： Easy to use yet very customizable zoomable image widget for Flutter,
  # Photo View provides a gesture sensitive zoomable widget.
  # Photo View is largely used to show interactive images and other stuff such as SVG.
  # ===============================================================================
  photo_view: ^0.15.0

  # ===============================================================================
  # 名称：File picker plugin for Flutter, compatible with mobile (iOS & Android), Web, Desktop (Mac, Linux, Windows) platforms with Flutter Go support.
  # 来源：https://pub.dev/packages/file_selector
  # GitHub：https://github.com/flutter/plugins/tree/main/packages/file_selector/file_selector
  file_selector: ^1.0.3

  # ===============================================================================
  # 名称：适用于iOS和Android的Flutter插件，用于从图像库中选择图像，并使用相机拍摄新照片。
  # 来源：https://pub.dev/packages/image_picker
  # GitHub：https://github.com/flutter/plugins/tree/master/packages/image_picker
  # 说明：
  # Add the following keys to your Info.plist file, located in <project root>/ios/Runner/Info.plist:
  # NSPhotoLibraryUsageDescription - describe why your app needs permission for the photo library. This is called Privacy - Photo Library Usage Description in the visual editor.
  # NSCameraUsageDescription - describe why your app needs access to the camera. This is called Privacy - Camera Usage Description in the visual editor.
  # NSMicrophoneUsageDescription - describe why your app needs access to the microphone, if you intend to record videos. This is called Privacy - Microphone Usage Description in the visual editor.
  image_picker: ^1.1.0

  # ===============================================================================
  # 名称：Palette Generator package
  # 来源：https://pub.dev/packages/palette_generator
  # GitHub：https://github.com/flutter/packages/tree/master/packages/palette_generator
  # 说明：A Flutter package to extract prominent colors from an Image, typically used to find colors for a user interface.
  palette_generator: ^0.3.3+2

  # ===============================================================================
  # 名称： locale names from locale codes (ISO 639‑2 and ISO 639-3) for 563 locales.
  # 来源：https://pub.dev/packages/flutter_localized_locales
  # GitHub：https://github.com/guidezpl/flutter-localized-locales
  # 说明： Flutter plugin which provides locale code to name mappings for 563 locales.
  # ===============================================================================
  flutter_localized_locales: ^2.0.5


dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^3.0.2

  # ===============================================================================
  # A command-line tool which simplifies the task of updating your Flutter app's launcher icon.
  # Fully flexible, allowing you to choose what platform you wish to update the launcher icon
  # for and if you want, the option to keep your old launcher icon in case you want to revert
  # back sometime in the future.
  # pub: https://pub.dev/packages/flutter_launcher_icons
  # git: https://github.com/fluttercommunity/flutter_launcher_icons
  # ===============================================================================
  flutter_launcher_icons: ^0.13.1

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/

flutter_intl:
  enabled: true

# 执行命令：
# flutter pub run flutter_launcher_icons:main
flutter_icons:
  image_path: "icons/icon.png"
#  image_path_android: "icons/ic_launcher.png"
#  image_path_ios: "icons/ios_marketing.png"
  android: true # can specify file name here e.g. "ic_launcher"
  ios: true # can specify file name here e.g. "My-Launcher-Icon"
#  adaptive_icon_background: "assets/images/christmas-background.png" # only available for Android 8.0 devices and above
#  adaptive_icon_foreground: "assets/images/icon-foreground-432x432.png" # only available for Android 8.0 devices and above
