name: flutter_easy_example
description: Demonstrates how to use the flutter_easy plugin.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_easy:
    # When depending on this package from a real application you should use:
    #   flutter_easy: ^x.y.z
    # See https://dart.dev/tools/pub/dependencies#version-constraints
    # The example app is bundled with the plugin so we use a path dependency on
    # the parent directory to use the current plugin's version. 
    path: ../

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.3

  # ===============================================================================
  # 名称：数据管理的组装式 flutter 应用框架
  # 来源：https://pub.dev/packages/fish_redux
  # GitHub：https://github.com/alibaba/fish-redux
  # 说明：Fish Redux 是一个基于 Redux 数据管理的组装式 flutter 应用框架， 它特别适用于构建中大型的复杂应用。
  # 它的特点是配置式组装。 一方面我们将一个大的页面，对视图和数据层层拆解为互相独立的 Component|Adapter，上层负责组装，下层负责实现；
  # 另一方面将 Component|Adapter 拆分为 View，Reducer，Effect 等相互独立的上下文无关函数。
  # 所以它会非常干净，易维护，易协作。
  # Fish Redux 的灵感主要来自于 Redux， Elm， Dva 这样的优秀框架。
  # 而 Fish Redux 站在巨人的肩膀上，将集中，分治，复用，隔离做的更进一步。
  # ===============================================================================
  fish_redux: ^0.3.4

  # ===============================================================================
  # 名称：支持多列和不同大小的行的交错网格视图。
  # 来源：https://pub.dev/packages/flutter_staggered_grid_view
  # GitHub：https://github.com/letsar/flutter_staggered_grid_view
  # 说明：A Flutter staggered grid view which supports multiple columns with rows of varying sizes.
  # ===============================================================================
  flutter_staggered_grid_view: ^0.3.2

  # ===============================================================================
  # 名称：A simple zoomable image
  # 来源：https://pub.dev/packages/photo_view
  # GitHub：https://github.com/fireslime/photo_view
  # 说明： Easy to use yet very customizable zoomable image widget for Flutter,
  # Photo View provides a gesture sensitive zoomable widget.
  # Photo View is largely used to show interacive images and other stuff such as SVG.
  # ===============================================================================
  photo_view: ^0.10.2

  # ===============================================================================
  # 名称：适用于iOS和Android的Flutter插件，用于从图像库中选择图像，并使用相机拍摄新照片。
  # 来源：https://pub.dev/packages/image_picker
  # GitHub：https://github.com/flutter/plugins/tree/master/packages/image_picker
  # 说明：
  # Add the following keys to your Info.plist file, located in <project root>/ios/Runner/Info.plist:
  # NSPhotoLibraryUsageDescription - describe why your app needs permission for the photo library. This is called Privacy - Photo Library Usage Description in the visual editor.
  # NSCameraUsageDescription - describe why your app needs access to the camera. This is called Privacy - Camera Usage Description in the visual editor.
  # NSMicrophoneUsageDescription - describe why your app needs access to the microphone, if you intend to record videos. This is called Privacy - Microphone Usage Description in the visual editor.
  image_picker: ^0.6.7+11

  # ===============================================================================
  # 名称：Palette Generator package
  # 来源：https://pub.dev/packages/palette_generator
  # GitHub：https://github.com/flutter/packages/tree/master/packages/palette_generator
  # 说明：A Flutter package to extract prominent colors from an Image, typically used to find colors for a user interface.
  palette_generator: ^0.2.3

  # ===============================================================================
  # 名称： locale names from locale codes (ISO 639‑2 and ISO 639-3) for 563 locales.
  # 来源：https://pub.dev/packages/flutter_localized_locales
  # GitHub：https://github.com/guidezpl/flutter-localized-locales
  # 说明： Flutter plugin which provides locale code to name mappings for 563 locales.
  # ===============================================================================
  flutter_localized_locales: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

flutter_intl:
  enabled: true
