<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007675998964-o5p5e5dtnrc5r0bm1da3ev4v5c91dmqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007675998964-o5p5e5dtnrc5r0bm1da3ev4v5c91dmqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDL63TSop6Mjojs1VsDX37Fee9KlP-afAE</string>
	<key>GCM_SENDER_ID</key>
	<string>1007675998964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.octmon.flutterEasyExample</string>
	<key>PROJECT_ID</key>
	<string>fluttereasy-10e27</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttereasy-10e27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007675998964:ios:c34bf177b80808f35754a1</string>
</dict>
</plist>