name: Deploy Flutter Web

on:
  push:
    branches:
      - main  # 当推送到主分支时触发

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Step 1: 检出代码
    - name: Checkout code
      uses: actions/checkout@v3

    # Step 2: 设置 Flutter 环境
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 'stable'

    # Step 3: 安装依赖
    - name: Install dependencies
      working-directory: example
      run: flutter pub get

    # Step 4: 构建 Flutter Web 应用
    - name: Build Flutter Web
      working-directory: example
      run: flutter build web --release --base-href "/flutter_easy/"

    # Step 5: 部署到 GitHub Pages
    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: example/build/web